.body {
    margin:0px;
}
#intro {
display: inline-block;
border-style: solid;
background-color: red;
}
.htmlbox{
 height: 100px;
width: 500px; 
display: flex;
}
.cssbox {
height: 100px;
width: 500px;
display: flex;
}
.mainbox {
    height: 100px;
width: 500px;
display: flex;
}
.codebox {
    height: 100px;
width: 500px;
display: flex;
}
.footer {
    height: 100px;
width: 500px;
display: inline-block;
}
.links {
    height: 100px;
width: 500px;
display: inline-block;
}
body {font-family: 'Josefin Sans', sans-serif;}
body img {height:400px;width:600px;}
.aboutSection {font-size:20px;}
.howTo {font-size:20px;margin-bottom: 20px;}
.exampleTwo  {font-size:20px;}
.exampleThree  {font-size:20px}
.exImage {height:100px;width:200px;}
#exTwoImageA {height:400px;width:600px;}
#exTwoImageB {height:500px;width:700px;}
.exImageA {height:100px;width:450px;}


