body {
    margin:25px;font-family: 'Josefin Sans', sans-serif;font-size:20px;}  /* added font styling for all pages*/
h2 {color:darkgray;}/* added*/
.navBar {height:100px;width:1200px;border-style:solid;border-color:lightgray;background-color: lightgray;}
.mainContainer {height:2500px;width:1200px;border-style:solid;border-color:lightgray;}
.navBarLinks{float:right;}/* added*/
#cssLink{margin-right:10px;}    /* added*/
#codeLink{margin-right:10px;}/* added*/
#intro {

}
.htmlbox {margin-top: 15px;}
.cssbox {

}
.mainbox {
  ;
}
.codebox {
   
}
.footer {
  
}
.links {margin-top: 20px;
   /* removed dimensions for the links to look like other pages*/
}
body {font-family: 'Josefin Sans', sans-serif;}
body img {height:400px;width:600px;}
.aboutSection {font-size:20px;}
.howTo {font-size:20px;margin-bottom: 20px;}
.exampleTwo  {font-size:20px;}
.exampleThree  {font-size:20px}
.exImage {height:100px;width:200px;}
#exTwoImageA {height:400px;width:600px;}
#exTwoImageB {height:500px;width:700px;}
.exImageA {height:100px;width:450px;}


